:root {
  --main-black: #000000;
  --main-white: #f0f0f0;
  --main-gray: #303841;
  --main-red: #be3144;
  /* --main-blue: #8aaae5; */
  /* --main-blue: #45567d; */
  --main-blue: #5c83c2;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
