:root {
  --main-black: #000000;
  --main-white: #f0f0f0;
  --main-gray: #303841;
  --main-red: #be3144;
  --main-light-red: #be314436;
  --main-light-blue: #8aaae5;
  --main-dark-blue: #45567d;
  --main-blue: #5c83c2;
}

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}
